/vendor/
/.editorconfig
/.gitattributes

/config/sync/
!/config/sync/.gitkeep

!/html/
/html/*
!/html/modules/
/html/modules/*
!/html/modules/yoast_seo/
!/html/libraries/
/html/libraries/*
!/html/libraries/rtseo.js
!/html/sites/
/html/sites/*
!/html/sites/default/
/html/sites/default/*
!/html/sites/default/settings.php

!/html/sites/simpletest/
/html/sites/simpletest/*
!/html/sites/simpletest/browser_output/
/html/sites/simpletest/browser_output/*
!/html/sites/simpletest/browser_output/.gitkeep

/.claude/settings.local.json

/files_private/*
!/files_private/.htaccess

.bash_history
